<footer class="footer">
    <p>
        We are passionate promoters of accountable leadership.
    </p>
    <p>
        Our goal is to make organizations more sustainable by strengthening the foundations of trust.
    </p>
    <p>
        Our methods focus on humans, emphasize honesty and produce quantifiable results.
    </p>
    <p>&copy; {{ site.data.metadata.impressum.copyright_year }} {{ site.data.metadata.title }}, 
        <a href="https://virksomhet.brreg.no/nb/oppslag/enheter/935794420">{{ site.data.metadata.impressum.orgnr }}</a>, 
        <a href="mailto:{{ site.data.metadata.impressum.email }}">{{ site.data.metadata.impressum.email }}</a>. 
        Oslo, 🇳🇴
    </p>
    <p>
        <a title="GDPR-compliant Web Analytics" href="https://clicky.com/101489216">
            <img alt="Clicky" src="https://static.getclicky.com/media/links/badge.gif" border="0" />
        </a>
    </p>
</footer>
