<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ site.data.metadata.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{{ site.data.metadata.keywords }}">
<meta property="og:title" content="{{ site.data.metadata.og_title }}">
<meta property="og:description" content="{{ site.data.metadata.og_description }}">
<meta property="og:image" content="{{ site.data.metadata.og_image }}">
<meta property="og:url" content="{{ site.data.metadata.og_url }}">
<meta property="og:type" content="{{ site.data.metadata.og_type }}">
<meta property="og:locale" content="{{ site.data.metadata.og_locale }}" />
<meta property="og:site_name" content="{{ page.title }}" />
<meta name="twitter:card" content="{{ site.data.metadata.twitter_card }}">
<meta name="twitter:title" content="{{ site.data.metadata.twitter_title }}">
<meta name="twitter:description" content="{{ site.data.metadata.twitter_description }}">
<meta name="twitter:image" content="{{ site.data.metadata.twitter_image }}">
<meta name="twitter:domain" content="{{ site.data.metadata.twitter_domain }}">
<meta name="twitter:url" content="{{ site.data.metadata.twitter_url }}">
