<section id="profiles" class="profiles">
    {% for profile in site.profiles %}
    <div class="profile" id="profile" data-description="{{ profile.content | strip_newlines | escape }}">
        <div class="booking-icon">
            <a href="{{ profile.booking_url }}" title="Book et møte med meg">Avtal møte</a>
        </div>
        <img src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}s profilbilde">
        <h3>{{ profile.name }}</h3>
        <div class="profile-contact">
            <p><strong>&phone;</strong> <a href="tel:{{ profile.phone }}">{{ profile.phone }}</a></p>
            <p><strong>&#9993;</strong> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
            <p><strong>❧</strong> <a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a></p>
        </div>
    </div>
    {% endfor %}

    <div class="profile-fullscreen" id="profile-detail">
        <button class="close-button" aria-label="Close">&#10006;</button>
        <div class="profile-detail-content">
            <div class="profile-header">
                <div class="profile-header-picture-name"
                    <img src="#" alt="Profilbilde" id="profile-image">
                    <h3 id="profile-name">Navn</h3>
                </div>
                <div class="profile-header-contact"
                    <p><strong>&phone;</strong> <a href="tel:Phone" id="profile-phone">Phone</a></p>
                    <p><strong>&#9993;</strong> <a href="mailto:Email" id="profile-email">Email</a></p>
                    <p><strong>❧</strong> <a href="Linkedin" target="_blank" id="profile-linkedin">Linkedin</a></p>
                </div>
                <div class="profile-header-keywords"
                    <p id="profile-keywords">Keywords</p>
                </div>
            </div>
            <div class="profile-body">
                <p id="profile-detail-text">Profiltekst</p>
            </div>
        </div>
    </div>
</section>
