<section id="profiles" class="profiles">
    {% for profile in site.profiles %}
    <div class="profile">
        <div class="profile-compact">
            <div class="booking-icon">
                <a href="{{ profile.booking_url }}" title="Book et møte med meg">Avtal møte</a>
            </div>
            <img class="profile-image" src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}s profilbilde">
            <h3 class="profile-name">{{ profile.name }}</h3>
            <div class="profile-contact">
                <a href="tel:{{ profile.phone }}" class="profile-phone"><strong>&phone;</strong></a>
                <a href="mailto:{{ profile.email }}" class="profile-email"><strong>&#9993;</strong></a>
                <a href="{{ profile.linkedin }}" target="_blank" class="profile-linkedin"><strong>&#128188;</strong></a>
            </div>
        </div>
        <div class="profile-expanded">
            <div class="profile-expanded-heading">
                <div class="profile-expanded-picture">
                    <img class="profile-image" src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}s profilbilde">
                </div>
                <div class="profile-expanded-name">
                    <h3 class="profile-name">{{ profile.name }}</h3>
                </div>
                <div class="profile-expanded-contact">
                        <a href="tel:{{ profile.phone }}" class="profile-expanded-contact-phone">{{ profile.phone }}</a> 
                        <a href="mailto:{{ profile.email }}" class="profile-expanded-contact-email">{{ profile.email }}</a> 
                        <a href="{{ profile.linkedin }}" target="_blank" class="profile-expanded-contact-linkedin">{{ profile.linkedin }}</a>
                </div>
                <div class="profile-expanded-tags">
                    {{ profile.tags }}
                </div>
            <div class="booking-expanded-icon">
                <a href="{{ profile.booking_url }}" title="Book et møte med meg">Avtal møte</a>
            </div>
            </div>
            <div class="profile-expanded-content">
                {{ profile.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
