<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<script src="{{ '/assets/scripts/dark-mode-toggle.js' | relative_url }}"></script>

<script src="{{ '/assets/scripts/animations.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/navbar.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/cross-links.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/review-questions.js' | relative_url }}" defer></script>
<script src="{{ '/assets/scripts/sidebar.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/sticky-cta.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/newsletter.js' | relative_url }}" defer></script>
<script src="{{ '/assets/scripts/contact.js' | relative_url }}" defer></script>
