<!-- Global Styles -->
<link rel="stylesheet" href="{{ '/assets/css/colors.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">

<!-- Utilities Styles -->
<link rel="stylesheet" href="{{ '/assets/css/utilities.css' | relative_url }}">

<!-- Component Styles -->
<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/navbar.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/profiles.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/products.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/podcast.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/cases.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">

<!-- Dark and Light Mode Styles -->
<link rel="stylesheet" href="{{ '/assets/css/styles-light.css' | relative_url }}" id="light-style">
<link rel="stylesheet" href="{{ '/assets/css/styles-dark.css' | relative_url }}" id="dark-style" disabled>
