<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

<!-- Global Styles -->
<link rel="stylesheet" href="{{ '/assets/css/colors.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">

<!-- Utilities Styles -->
<link rel="stylesheet" href="{{ '/assets/css/utilities.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/animations.css' | relative_url }}">

<!-- Component Styles -->
<link rel="stylesheet" href="{{ '/assets/css/components/hero.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/card.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/buttons.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/illustrations.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/questions.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/cta-section.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/footnotes.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/tag-cloud.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/navbar.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/profiles.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/step-timeline.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/stat-bridge.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/components/sticky-cta.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/products.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/metode.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/avtale.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/partners.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">

<!-- Dark and Light Mode Styles -->
<link rel="stylesheet" href="{{ '/assets/css/styles-light.css' | relative_url }}" id="light-style">
<link rel="stylesheet" href="{{ '/assets/css/styles-dark.css' | relative_url }}" id="dark-style" disabled>
