.cases {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.case {
    background-color: var(--box-background-light);
    color: var(--text-color-light);
    width: 40%;
    border-radius: 15px;
    box-shadow: var(--shadow-xs);
    padding: 15px;
    margin-bottom: 10px;
}
