.header {
    background-color: var(--banner-background-light);
    color: var(--banner-text-light);
    text-align: center;
    padding: 0;
}

.banner-title {
    display: flex;
    flex-direction: row;
}
