.header {
    background-color: var(--banner-background-light);
    color: var(--banner-text-light);
    text-align: center;
    padding: 20px;
}

.banner {
    font-size: 2em;
    margin-bottom: 20px;
}
