/* Generelle stiler for navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: var(--navbar-background);
}

/* Navigasjonslenker */
.navbar a {
    text-decoration: none;
    color: var(--navbar-link-color);
    font-size: 1em; /* Normal fontstørrelse for desktop */
    margin: 0 2ch; /* To karakterers avstand mellom lenkene */
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/* Hover-effekt for lenker */
.navbar a:hover {
    color: var(--navbar-link-hover-color);
    border-bottom: 2px solid var(--navbar-link-hover-color);
}

/* Mobiljusteringer */
@media (max-width: 599px) {
    .navbar a {
        font-size: 0.8em; /* Redusert fontstørrelse for mobilvisning */
        margin: 0 1.5ch; /* Litt mindre avstand på mobiler for kompakt visning */
    }
}
