.profiles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.profile {
    background-color: var(--box-background-light);
    color: var(--text-color-light);
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.booking-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: var(--link-color-light);
}
