.profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.profile {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile img {
    border-radius: 50%; 
    object-fit: cover;
    align-items: center;
}

.booking-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 48px;
}

.profile-fullscreen {
    display: none;
}

.profile-fullscreen.active {
    display: flex;
}

.profile-detail-content {
    max-width: 800px;
    min-width: 300px;
    min-height: 400px;
    padding: 15px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.profile-header img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%; 
    object-fit: cover;
}

.profile-header h3 {
    margin: 0;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1100;
}

@media (max-width: 599px) {
    .profile {
        width: 100%; 
        margin-bottom: 20px;
    }

    .profile-header h3 {
        font-size: 1em;
    }
    
}
