body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

a {
    color: var(--link-color-light);
}

a:hover {
    color: var(--link-hover-light);
}

.header {
    background-color: var(--box-background-light);
}

.header-margin {
    background-color: var(--box-background-light);
}

.navbar {
    background-color: var(--navbar-background-light);
}

.footer {
    background-color: var(--footer-background-light);
    color: var(--footer-text-light);
}

.button {
    background-color: var(--button-background-light);
    color: var(--button-text-color-dark);
}

.booking-icon, .close-button {
    color: var(--link-color-light);
    border: 5px solid var(--banner-background-light);
}

.banner {
    background-color: var(--banner-background-light);
    color: var(--banner-text-light);
}

.profile {
    background-color: var(--box-background-light);
    color: var(--text-color-light);
}

.profile-detail-content {
    background-color: var(--box-background-light);
    color: var(--text-color-light);
}
