html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #37474f;
    background-color: #e2e8f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    background-color: #3a4e58;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    padding: 0;
}

.banner nav {
    margin-top: 0;
    font-size: 0.8em;
}

.banner nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.banner nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

/* Ensuring similar style across profiles, partners, products, and cases */
.profile, .partner, .product, .case {
    width: 40%;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profiles, .partners, .product-list, .case-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.profile img, .product img, .partner img, .case img {
    max-width: 100px; /* Restrict size for logos/images */
    height: auto;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 20px;
}

.fullscreen.active {
    display: flex;
}

.profile-detail-content {
    max-width: 800px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-header img {
    height: 2em;
    margin-right: 10px;
    border-radius: 50%;
}

.profile-header h3 {
    margin: 0;
    text-align: left;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #37474f;
}

.partner-header, .case-info {
    text-align: left; /* Keep text alignment consistent along cases as well */
}

.partner-logo, .case-logo {
    width: 100%;
    height: auto;
    display: block;
}

a {
    color: #5c748c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #3a4e58;
    color: #fff;
    font-size: 0.9em;
    margin-top: 10px;
}

button#dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    color: #888;
}

button#dark-mode-toggle:hover {
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .profile, .partner, .product, .case {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .banner {
        font-size: 1.5em; 
    }

    .profiles, .partners, .product-list, .case-list {
        justify-content: center;
    }

    .profile, .partner, .product, .case {
        width: 90%;
    }

    .concept {
        flex-direction: column;
        padding: 15px;
    }

    .concept-content, .concept-image {
        width: 100%;
        margin-bottom: 20px;
    }

    button#dark-mode-toggle {
        font-size: 2em;
    }
}
