body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

.banner {
    background-color: #34495e;
    color: #fff;
    padding: 15px; /* Halvert fra 30px til 15px */
    text-align: center;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.concept {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    margin: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.concept-content {
    width: 50%;
}

.concept-image {
    width: 45%;
}

.concept-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.profiles {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Halvert fra 40px til 20px */
    margin: 40px;
}

.profile {
    width: 40%;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 40px;
}

.profile img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #34495e;
    color: #fff;
    font-size: 0.9em;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}
