/* Dark Mode Styles */

body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Header Styles */
.header {
    background-color: var(--box-background-dark); /* Ensartet mørk bakgrunnsfarge for header */
    padding: 20px;
    margin: 0; /* Fjern margin, hvis det brukes */
}

/* Hvis paddingen rundt headeren er et separat element: */
.header-padding, .header-margin {
    background-color: var(--box-background-dark); /* Sørg for at det har samme farge som header */
}

/* Other Styles */
.navbar {
    background-color: var(--navbar-background-dark);
}

/* Justere farger for lenker og hover */
.navbar a {
    color: var(--link-color-dark);
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover {
    color: var(--link-hover-dark);
    border-bottom: 2px solid var(--link-hover-dark);
}

.footer {
    background-color: var(--footer-background-dark);
    color: var(--footer-text-dark);
}

.button {
    background-color: var(--button-background-dark);
    color: var(--button-text-color-light);
}

.booking-icon, .close-button {
    color: var(--icon-color-dark);
}

.banner {
    background-color: var(--banner-background-dark);
    color: var(--banner-text-dark);
}
