/* Generelle typografi-justeringer */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color-light);
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Overskrifter */
h1, h2, h3 {
     margin: 0;
}

h1 {
    font-size: 4em;
}

/* Mobiler justeringer */
@media (max-width: 599px) {
    /* Mobil */

    /* Justering for banner overskriften */
    h1 {
        font-size: 2em; /* Redusert fontstørrelse for bedre tilpassing på mobil */
    }

}
