/* Utilities.css */
.button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.btn:hover {
    transform: scale(1.1);
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--link-color-light);
    z-index: 5;
}

@media (max-width: 599px) {
    /* Mobil */
    #dark-mode-toggle {
        font-size: 1.8em; /* Øk font size litt på mobil */
    }
    #dark-mode-toggle:hover {
        font-size: 2em;
}
}

@media (min-width: 600px) {
    /* Laptop og større skjermer */
    #dark-mode-toggle {
        font-size: 2.5em; /* Øk font size mye på laptop */
    }
    #dark-mode-toggle:hover {
       font-size: 3em;
}
}
