<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles-dark.css' | relative_url }}" id="dark-style" disabled>
</head>
<body>
    <button id="dark-mode-toggle" title="Toggle Dark Mode" aria-label="Toggle Dark Mode">
        &#9788; <!-- Initial ikon for day mode -->
    </button>

    <header>
        <div class="banner">
            <h1>{{ page.tagline }}</h1>
            <nav>
                <a href="#profiles">HVEM</a>
                <a href="#products">HVA</a>
                <a href="#podcast">HVORFOR</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="profiles" class="profiles">
            {% for profile in site.profiles %}
            <div class="profile" data-description="{{ profile.content | strip_newlines | escape }}">
                <img src="{{ site.baseurl }}{{ profile.image }}" alt="{{ profile.name }}s profilbilde">
                <h3>{{ profile.name }}</h3>
                <p><strong>&phone;</strong> <a href="tel:{{ profile.phone }}">{{ profile.phone }}</a></p>
                <p><strong>&#9993;</strong> <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
                <p><strong>❧</strong> <a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a></p>
            </div>
            {% endfor %}
        </section>
        <section id="products" class="products">
            <h2>Produkter</h2>
            <div class="product-list">
                {% for product in site.products %}
                <div class="product">
                    <h3>{{ product.title }}</h3>
                    <img src="{{ site.baseurl }}/{{ product.image }}" alt="{{ product.title }}">
                    <p>Pris: {{ product.price }}</p>
                    <p>{{ product.content | strip_html }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        <section id="podcast" class="podcast">
            <div class="embed-container">
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/track/4PTG3Z6ehGkBFwjybzWkR8?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; {{ page.footer.copyright_year }} {{ page.title }}</p>
        <p>E-post: <a href="mailto:{{ page.footer.email }}">{{ page.footer.email }}</a></p>
        <p>Orgnr: {{ page.footer.orgnr }}</p>
    </footer>

    <script src="{{ '/assets/scripts/dark-mode-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/scripts/profile-card.js' | relative_url }}"></script>
</body>
</html>
