<!DOCTYPE html>
<html lang="no">
<head>
    {% include head.html %}
    {% include styles.html %}
</head>
<body>
    <button id="dark-mode-toggle" title="Toggle Dark Mode" aria-label="Toggle Dark Mode" class="button btn">
        &#9788; <!-- Initial icon for light mode -->
    </button>

    {% include header.html %}
    <main>
        {% include profiles.html %}
        {% include products.html %}
        {% include podcast.html %}
        {% include cases.html %}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
